* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: rgb(255, 255, 255);
}
body {
  background: url('one.jpg');
  object-fit: cover;
  background-position: center;
}
h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: consolas;
  font-size: 2rem;
  letter-spacing: 3px;
  color: transparent;
  pointer-events: none;
}
h2::after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--white);
  animation: type 12s steps(var(--character)) infinite;
}
@keyframes type {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
